#top #home {
    float: left;
}

#top form {
    float: left;
}

#progress {
  background-color: EEE;
  border-radius: 13px;
  padding: 3px;
}

#progress div {
  background-color: green;
  height: 20px;
  border-radius: 10px;
}
